<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Formulario para añadir mesas</h3>
      </div>
      <div class="card-body">
        <form (submit)="onGuardarMesa(formMesa)" #formMesa="ngForm">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="id_camarero">Camarero</label>
                <select class="form-control"
                id="id_camarero" name="id_camarero"
                #id_camarero="ngModel" [ngModel]="mesa?.id_camarero"
                required>
                  <option *ngFor="let camarero of camareros"
                   value="{{camarero._id}}">{{camarero.nombre}} {{camarero.apellido}}</option>
                   <option *ngIf="camareroExiste" value="{{mesa?._id}}">{{mesa?._id}}</option>
                   <option *ngIf="camareros.length == 0">NO CAMAREROS</option>
                </select>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="estado">Estado</label>
                <select class="form-control"
                id="estado" name="estado"
                #estado="ngModel" [ngModel]="mesa?.estado"
                required>
                  <option value="ocupada">Ocupada</option>
                  <option value="vacia">Vacia</option>
                  <option value="por_limpiar">Por limpiar</option>
                </select>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="num_mesa">Numero de mesa</label>
                <input class="form-control"
                id="num_mesa" name="num_mesa"
                #num_mesa="ngModel" [ngModel]="mesa?.num_mesa"
                required type="number" />
                <div class="invalid-feedback"></div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Guardar</button>
          <button *ngIf="mode == 'editar'" (click)="onDelete(mesa._id)" class="btn btn-danger ml-1" type="submit">Eliminar</button>
        </form>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>
