<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Formulario para añadir camareros</h3>
    </div>
    <div class="card-body">
      <form (submit)="onAddCamarero(formCamarero)" #formCamarero="ngForm">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input class="form-control" type="text"
              id="nombre" name="nombre"
              #nombre="ngModel" ngModel
              required/>
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input class="form-control" type="text"
              id="apellido" name="apellido"
              #apellido="ngModel" ngModel
              required/>
              <div class="invalid-feedback"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="tlfn">Telefono</label>
              <input class="form-control" type="tel"
              id="tlfn" name="tlfn"
              #tlfn="ngModel" ngModel
              required/>
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="email">email</label>
              <input class="form-control" type="email"
              id="email" name="email"
              #email="ngModel" ngModel
              required/>
              <div class="invalid-feedback"></div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Guardar</button>
      </form>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>
