<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">La idea de esta pagina web es manejar
  la informacion interna de un bar/restaurante.</p>
  <hr class="my-4">
  <p>Esta aplicacion esta creada con Angular y bootstrap para la parte del cliente,
  mientras los encargados de trabajar en la parte del servidor seran:
  </p>
  <ul>
    <li>
      NodeJs usando el framework express para un manejo de node mas comodo,
      este sera el intermediario entre las peticiones del cliente y la base de datos.
    </li>
    <li>
        MongoDB que manejare a traves de mongoose para hacerlo mas ameno.
    </li>
  </ul>
</div>
